<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ site.gravatar-url }}57" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.gravatar-url }}114" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.gravatar-url }}72" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.gravatar-url }}144" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ site.gravatar-url }}60" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.gravatar-url }}120" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site.gravatar-url }}76" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.gravatar-url }}152" />
<link rel="icon" type="image/png" href="{{ site.gravatar-url }}196" sizes="196x196" />
<link rel="icon" type="image/png" href="{{ site.gravatar-url }}96" sizes="96x96" />
<link rel="icon" type="image/png" href="{{ site.gravatar-url }}32" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ site.gravatar-url }}16" sizes="16x16" />
<link rel="icon" type="image/png" href="{{ site.gravatar-url }}128" sizes="128x128" />
<meta name="application-name" content="&nbsp;"/>
